<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.mapper.StatisticsMapper">


    <select id="passStatistics" resultType="com.ruoyi.manage.domain.statistics.po.StatisticsPo">
        select count(*) as total,is_passed as name
        from tb_grade_info
        <where>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
            <if test="teacherId != null">
                and teacher_id = #{teacherId}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        group by name
    </select>
</mapper>
